/* Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
 * Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
 * Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* ===== Base Style ===== */

body {
  padding: 0;
  margin: 0;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: .9em;
  color: #222;
  background: #FCFCFC;
}

a:visited  { color: #444; }
a, a:hover { color: #111; }

.error {
  padding: .6em;
  text-align: center;
  color: white;
  background: #B81900 url(/static_media/bg-diagonals-red.png) repeat scroll 50% 50%;
  border: 1px solid #CD0A0A;
}

/* ===== Style ===== */

.bg-main {
  background-color: #EEE;
  border: 1px solid #BBB;
}

.bg-content {
  background-color: #FFF;
  border: 1px solid #BBB;
}

.bg-menu {
  background-color: #F6A828;
  border: 1px solid #E78F08;
}

.bg-trunk {
  background-color:#B5E655;
  border:1px solid #9B4;
}

.bg-proposal {
  background-color:#9CF;
  border:1px solid #5AD;
}

.bg-change {
  background-color: #EE5;
  border: 1px solid #BB4;
}

.bg-gloss {
  background-image: url(/static_media/ui-gloss-wave.png);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 50% 50%;
}

.bg-button {
  background-color: #E4E4E4;
  border: 1px solid #BBB;
}

.bg-accept {
  background-color: #5D3;
  border: 1px solid #6B5;
}

.bg-reject {
  background-color: #E44;
  border: 1px solid #C44;
}

.bg-button:hover,
.bg-accept:hover,
.bg-reject:hover {
  background-color: white;
}

.icon {
    width: 16px;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ic-accept      { background-image: url(/static_media/icons/accept.png); }
.ic-reject      { background-image: url(/static_media/icons/reject.png); }
.ic-article         { background-image: url(/static_media/icons/article.png); }
.ic-article-add     { list-style-image: url(/static_media/icons/article_add.png); }
.ic-article-del     { list-style-image: url(/static_media/icons/article_del.png); }
.ic-article-edit    { list-style-image: url(/static_media/icons/article_edit.png); }
.ic-proposal-accepted   { background-image: url(/static_media/icons/proposal_accepted.png); }
.ic-proposal-archived   { background-image: url(/static_media/icons/proposal_archived.png); }
.ic-proposal-editing    { background-image: url(/static_media/icons/proposal_editing.png); }
.ic-proposal-review     { background-image: url(/static_media/icons/proposal_review.png); }
.ic-proposal-voting     { background-image: url(/static_media/icons/proposal_voting.png); }

/* ===== Layout ===== */

#page {
  margin-top: .5em;
  margin: 0 auto;
  width: 95%;
  min-width: 760px;
  padding: .8em .3em;
}

#page > div {
  margin-bottom: .2em;
}

/* ===== Head ===== */

#account {
  float: right;
  text-align: right;
  margin-right: .2em;
}

#logo {
  float: left;
  margin-left: 2em;
}

#logo a {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.06em;
  text-decoration: none;
}

#logo #subtitle {
  letter-spacing: 0em;
  margin-left: 0.2em;
  font-size: 0.3em;
  color: #967A5A;
}

/* ===== Menu ===== */

#navigation {
  padding: .2em;
  background-color: white;
}

#nav-top {
  padding: .1em .3em 0 .5em;
  margin-bottom: .15em;
}

#tabs {
  float: left;
  margin: .1em 0 -1px 0;
  padding: 0;
}

#tabs li {
  background-color: #E4E4E4;
  border: 1px solid #AAA;
}

#context-tabs {
  float: right;
  margin: .1em 0 -1px 0;
  padding: 0;
}

.nav-tabs {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.nav-tabs li {
  display: inline;
  float: left;
  padding: .3em 0;
  margin: 0 .2em;
}

.nav-tabs li a {
  text-decoration: none;
  font-weight: bold;
  padding: .4em 1em;
}
.nav-tabs li a:visited {
  color: #000;
}

#tabs li.active,
#context-tabs li.active,
#tabs li:hover,
#context-tabs li:hover {
  background-color: white;
}
#tabs li.active a,
#context-tabs li.active a {
  color: #A65A00;
}

#context {
  margin: .6em .1em .1em .1em;
  font-size: 1.1em;
}

#context img {
  position: relative;
  top: 2px;
}

#nav-bottom {
  padding: .1em .3em .1em .5em;
  color: black;
  font-weight: normal;
}

#actions {
  float: right;
  margin: .3em;
}

#actions li {
  display: inline;
  list-style-type: none;
  margin: .1em;
  padding: .1em 0;
}

#actions li a {
  color: #000;
  text-decoration: none;
  padding: 0.2em 0.3em 0 0.5em;
}

#info {
  float: left;
  margin: .2em;
}

/* ===== Content===== */

#content {
  padding: .4em;
}

/* ===== Elements ===== */

.list-elem {
  padding: 0.2em;
  margin: 0.2em 0 0 0;
  background: white;
}

.list-elem div {
  padding: 0.2em;
}

/*===== Footer =====*/

div#footer {
    margin: 1em auto 0 auto;
    width: 75%;
    text-align: center;
}

/* editor */

div#editor textarea {
    width: 99%;
    height: 40em;
}

div#editor {
    float: left;
    width: 49%;
    margin-top: 0.5em;
}

div#preview {
    float: right;
    width: 49%;
    margin-top: 0.5em;
    height: 30em;
    max-height: 30em;
    overflow: auto;
    padding: 0.4em;
}


/* ===== comments ===== */

#comment-box {
  display: none;
  margin: 0.5em 0 0 0;
  font-weight: .4em;
  min-width:16em;
}

#comment-box > div {
  margin: 0;
  padding: 0;
}

#comment-box textarea {
    width: 98%;
}

.selected {
    background-color: #FAFAFA;
}

.highlight {
    background-color: yellow;
}


.comment {
    margin-top: .3em;
    margin-bottom: .3em;
}
.comment .metadata {
    margin: 2px;
    padding: 0 .4em;
}

.comment:hover .metadata {
    background-color: white;
}

.comment-ack {
    font-weight: bold;
    display: none;
}

.comment .text {
    white-space: pre-wrap;
    font-size: 12pt;
    margin: .1em;
}


.comment-btn {
    float: right;
    text-align: center;
    padding: 0.25em 0 1em 0;
    font-size: 10pt;
    font-weight: normal;
    width: 33px;
    height: 12px;
    cursor: pointer;
    background: url(/static_media/comment_empty.png) no-repeat;
}


table.diff {font-family:Courier; border:medium;width:100%;}
.diff_header {background-color:#e0e0e0}
td.diff_header {text-align:right}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}

/* openid */

a.openid {
    border: 1px solid #dddddd;
    height: 60px;
    width: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #ffffff;
    margin: 3px;
    float: left;
    cursor: pointer;
}

img.s_openid {
    border: 1px solid #dddddd;
    cursor: pointer;
    padding: 3px;
}
#openid_shortcuts {
    visibility: hidden;
}
#openid_userid {
    visibility: hidden;
}

input.openid {
  background: url(/static_media/openid/logo_small.gif) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
  width: 20em;
}

div.field-wrapper {
    clear: both;
    margin-bottom: 0.5em;
    width: 32em;
}
.errors input {
    background-color: pink;
}
div.field-wrapper label {
    width: 9em;
    float: left;
    clear: left;
}
div.field-wrapper input {
    width: 20em;
}
input#id_username {
    width: 12em;
}

/* ===== Helpers ===== */

.clearer {
    clear: both;
    margin: 0;
    padding: 0;
}

.pre {
    white-space: pre-wrap;
}

