{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}
{% load pagination_tags %}

{% block info %}
    {% if proposal %}
        {% blocktrans with proposal.title as prop_title and proposal.title|urlencode as url_prop_title %} 
            Articles in proposal <a href="/proposals/view/{{ url_prop_title }}">{{ prop_title }}</a>.
        {% endblocktrans %}
    {% else %}
        {% trans "Articles in trunk." %}
    {% endif %}
{% endblock %}

{% block actions %}
    {% if proposal and proposal.head_revision %}
    {% ifequal proposal.state State.EDITING %}
        <li class="bg-button ui-corner-all bg-gloss">
            <a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/create"
               title="{% trans "Create a new article, to be applied with this proposal." %}">
                {% trans "New Article" %}
            </a>
        </li>
    {% endifequal %}
    {% endif %}
{% endblock %}

{% block content %}

{% autopaginate articles 10 %}
{% for article in articles %}
 
    <div class="list-elem bg-main ui-corner-all">
        {% if proposal %}
            <div class="bg-gloss ui-corner-all bg-proposal">
                <img src="/static_media/icons/article.png" />
                <a href="/articles/from/{{ proposal.title|urlencode }}/view/{{ article.title|urlencode }}">
                    {{ article.title }}
                </a>
            </div>
        {% else %}
            <div class="bg-gloss ui-corner-all bg-trunk">
                <img src="/static_media/icons/article.png" />
                <a href="/articles/view/{{ article.title|urlencode }}">
                    {{ article.title }}
                </a>
            </div>
        {% endif %}
            
        <div>
            {% blocktrans with article.date|date:"d M Y" as date %}
                Last changed on {{ date }}.
            {% endblocktrans %}
        </div>
    </div>

{% endfor %}
<br/>
{% paginate %}

{% endblock %}
