{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block scripts %}
    {% include "articles/wmd_scripts.html" %}
{% endblock %}

{% block info %}
    {% blocktrans with article as article and proposal.title as proposal_title %}
        Merge "{{ article }}" from proposal {{ proposal_title }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <div id="editor">
        <form method="POST" action="/articles/from/{{ proposal.title|urlencode }}/merge/{{ article|urlencode }}">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}: {{ field.errors }} <br/>
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Save"/>
        </form>
    </div>

    <div id="preview">
    </div>
{% endblock %}
