{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block scripts %}
    <script type="text/javascript">
        {% if proposal %}
            var _proposal = "{{ proposal.title }}";
        {% endif %}
        var _article_path = "{{ article.title }}"; 
        var _changeset = "{{ article.revision }}"; 
        var _username = "{{ user.username }}"; 
    </script>
    <script type="text/javascript" 
            src="/static_media/comments.js"></script>
    <script type="text/javascript" 
            src="/static_media/template-parser.js"></script>
    <script type="text/javascript" 
            src="/static_media/jquery.highlight-3.js"></script>

    <script type="text/html" id="date-tmpl">
         <%= d.getDate() %>.<%= d.getMonth() + 1 %>.<%= d.getFullYear() %>
         <%= d.getHours() %>:<% if (d.getMinutes() < 10) { %>0<% } %><%= d.getMinutes() %>
    </script>

    <script type="text/html" id="comment-tmpl">
        <div class="comment bg-content ui-corner-all">
            <div class="metadata bg-menu bg-gloss ui-corner-all">
                <%= data.user %> (<%= dateStr %>)
            </div>
            <div class="text"><%= data.text %></div>
        </div>
    </script>
{% endblock %}

{% block info %}
    {% if proposal %}
        {% blocktrans with article.title as title and proposal.title|urlencode as url_prop_title and proposal.title as prop_title and article.date|date:"d M Y" as date %}
            Article <b>{{ title }}</b> from proposal <a href="/proposals/view/{{ url_prop_title }}">{{ prop_title }}</a>.<br/>
            Last changed on {{ date }}.
        {% endblocktrans %}
    {% else%}
        {% blocktrans with article.title as title and article.date|date:"d M Y" as date %}
            Article <b>{{ title }}</b><br/>
            Last changed on {{ date }}.
        {% endblocktrans %}
    {% endif %}
    {% if proposal and not proposal.head_revision %}
        {% blocktrans %}
            This proposal has multiple heads which must first be merged
            before further editing can be done.
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block actions %}
    {% if proposal %}
        {% if proposal.head_revision %}
        {% ifequal proposal.state State.EDITING %}
            <li class="bg-button ui-corner-all bg-gloss">
                <a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/edit/{{ article.title|urlencode }}">
                    {% trans "Edit" %}
                </a>
            </li>
            <li class="bg-button ui-corner-all bg-gloss">
                <a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/rename/{{ article.title|urlencode }}">
                    {% trans "Rename" %}
                </a>
            </li>
            <li class="bg-button ui-corner-all bg-gloss">
                <a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/delete/{{ article.title|urlencode }}">
                    {% trans "Delete" %}
                </a>
            </li>
        {% endifequal %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if proposal %}
        <div class="proposal_article">
    {% else %}
        <div class="article">
    {% endif %}
    
        <h3> 
        {% if proposal %}
            {% blocktrans with proposal.title|urlencode as url_prop_title and proposal.title as prop_title and article.title as article_title %}
                {{ article_title }} from proposal  
                <a href="/proposals/view/{{ url_prop_title }}">{{ prop_title }}</a>
            {% endblocktrans %}
            <br/>
        {% else %}
            {{ article.title }}
        {% endif %}
        </h3>

        <hr/>
    </div>
{% endblock %}


{% block content %}
    <div class="bg-content ui-corner-all">
        <div id="comment-box" title="Comments">
            <ul>
                <li><a href="#block-comments">Comments</a></li> 
                <li><a href="#new-comment">New Comment</a></li> 
            </ul>

            <div id="block-comments"></div>

            <div id="new-comment">
                Add a comment:
                <textarea name='text' rows="7" cols="40"></textarea><br/>
                <input name='submit' type='submit' value='Submit' />
            </div>

        </div>

        <div id="content">
            {{ article.html|safe }}
        </div>

    </div>

{% endblock %}
