{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

<script type="text/javascript">
    wmd_options = { autostart: false, output: "Markdown" };
</script>
<script src="/static_media/wmd/wmd.js" type="text/javascript"></script>
<script type="text/javascript">
    textarea   = document.getElementById("id_content")
    previewDiv = document.getElementById("preview")
    var panes = {input:textarea, preview:previewDiv, output:null};
    var previewManager = new Attacklab.wmd.previewManager(panes);
    var editor = new Attacklab.wmd.editor(textarea, previewManager.refresh);
</script>
