{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}
{% load tags %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/static_media/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static_media/jquery-ui-1.7.2.custom.css" type="text/css"/>
    <link rel="shortcut icon" type="image/png" href="/static_media/favicon.png" />
    
    <title> {% block title %} candiwi {% endblock %} </title>
</head>

<body>
<div id="page" class="bg-main ui-corner-bottom">
    <div id="logo">
        <a href="/" title="candiwi">
            {% instance_name %}
            <span id="subtitle">
                Candid Distributed Wiki
            </span>
        </a>
    </div>

    <div id="account">
        {% if user.is_authenticated %}
            {{ user.username }} | 
            <a href="/profiles/edit">{% trans "Profile" %}</a> |
            <a href="/openid/logout">{% trans "Logout" %}</a>
        {% else %}
            <a href="/openid/login?next={{ current_url }}">{% trans "Login" %}</a>
        {% endif %}
        <div id="context">
            {% include "breadcrumbs.html" %}
        </div>
    </div>

    <div class="clearer"></div>

    <div id="navigation" class="ui-corner-all bg-main">
        <div id="nav-top" class="ui-corner-top bg-gloss bg-menu">
            <ul id="context-tabs" class="nav-tabs">
                {% include "proposals/context_tabs.html" %}
            </ul>
            <ul id="tabs" class="nav-tabs">
                <li class="{% active request ".*articles/list.*" %} ui-corner-top bg-gloss">
                    <a href="/articles/list">{% trans "Articles" %}</a>
                </li>
                <li class="{% active request ".*proposals/list.*" %} ui-corner-top bg-gloss">
                    <a href="/proposals/list">{% trans "Proposals" %}</a>
                </li>
                <li class="{% active request ".*changes/list$" %} ui-corner-top bg-gloss">
                    <a href="/changes/list">{% trans "History" %}</a>
                </li>
                {% if proposal %}
                {% endif %}
            </ul>
            <div class="clearer"></div>
        </div>
        <div id="nav-bottom" class="ui-corner-bottom bg-gloss {{ context_class }}">
            <ul id="actions">
                {% block actions %}

                {% endblock %}
            </ul>
            <div id="info">
                {% block info %}

                {% endblock %}
            </div>
            <div class="clearer"></div>
        </div> 
    </div>


{% block error %}
    {% if error %}
    <div class="error ui-corner-all">
        {{ error }}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

</div>
    <div id="footer">
        <a href="http://bitbucket.org/candiwi/candiwi">candiwi</a>
        {% trans "Copyright 2009" %}
        <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">Affero GPL v3</a>
        <br/>{% trans "Powerd by" %}
        <a href="http://python.org">python</a>
        <a href="http://mercurial.selenic.com">mercurial</a>
        <a href="http://django-project.com">django</a>
        <a href="http://wmd-editor.com">wmd</a>
        <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>
        {% block footer %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
         // Load jQuery
         google.load("jquery", "1.3");
         google.load("jqueryui", "1.7");
    </script>
    {% block scripts %}
        <!-- Scripts are placed at the end for better loading behavior -->
    {% endblock %}
</body>
</html>
