{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}
{% load tags %}

{% if not proposal %}
    <span>
        <img class="icon" src="/static_media/favicon.png" />
        <a href="/">{% trans "Trunk" %}</a>
    </span>
{% endif %}
{% if proposal %}
    <span>
        <img src="/static_media/icons/proposal_accepted.png" />
        <a href="/proposals/view/{{ proposal.title|urlencode }}">
            {{ proposal.title }}
        </a>
    </span>
{% endif %}
{% if article %}
    &gt; 
    <span>
        <img src="/static_media/icons/article.png" />
        {% if proposal %}
            <a href="/articles/from/{{ proposal.title|urlencode }}{% url_rev request %}/view/{{ article.title|urlencode }}">
        {% else %}
            <a href="/articles{% url_rev request %}/view/{{ article.title|urlencode }}">
        {% endif %}
            {{ article.title }}
        </a>
    </span>
{% endif %}
{% if proposals %}
    &gt; 
    <span>
        <img src="/static_media/icons/article.png" />
        <a href="/articles/list/">
            {% trans "Proposals" %}
        </a>
    </span>
{% endif %}
{% if changes %}
    &gt; 
    <span>
        {% if proposal %} 
            {% if article %} 
                <a href="/changes/from/{{ proposal.title|urlencode }}/list/for/{{ article.title|urlencode }}">
            {% else %}
                <a href="/changes/from/{{ proposal.title|urlencode }}/list">
            {% endif %}
        {% else %}
            {% if article %} 
                <a href="/changes/list/for/{{ article.title|urlencode }}">
            {% else %}
                <a href="/changes/list/">
            {% endif %}
        {% endif %}
            {% trans "History" %}
        </a>
    </span>
{% endif %}
{% if articles %}
    &gt; 
    <span>
        <img src="/static_media/icons/article.png" />
        {% if proposal %} 
            <a href="/articles/from/{{ proposal.title|urlencode }}/list">
        {% else %}
            <a href="/articles/list/">
        {% endif %}
            {% trans "Articles" %}
        </a>
    </span>
{% endif %}
{% if change %}
    &gt; 
    <span>
        <a href="/changes/view/{{ change.revision|urlencode }}">
            {{ change.revision }}
        </a>
    </span>
{% endif %}
