{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}
{% load pagination_tags %}

{% block info %}
    {% if proposal %}
        {% if article %}
            {% blocktrans with proposal.title as proposal_title and article.title as article_title %}
            History of article <b>{{ article_title }}</b> in proposal <b>{{ proposal_title }}</b>.
            {% endblocktrans %}
        {% else %}
            {% blocktrans with proposal.title as proposal_title %}
                History of proposal <b>{{ proposal_title }}</b>.
            {% endblocktrans %}
        {% endif %}
    {% else %}
        {% if article %}
            {% blocktrans with article.title as article_title %}
                History of article <b>{{ article_title }}</b> in Trunk.
            {% endblocktrans %}
        {% else %}
            {% trans "History of Trunk." %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% autopaginate changes 10 %}
    {% for change in changes %}
 
        <div class="list-elem bg-main ui-corner-all">
            <div class="bg-change bg-gloss ui-corner-all">
            {% if proposal %}
                {% blocktrans with proposal.title|urlencode as url_title and change.revision|urlencode as url_rev and change.date|date:"d M Y" as date and change.revision as rev and change.user as user %}
                    <a href="/changes/from/{{ url_title }}/view/{{ url_rev }}">
                        {{ date }} change {{ rev }} made by {{ user }}
                    </a>
                {% endblocktrans %}
            {% else %}
                {% blocktrans with change.revision|urlencode as url_rev and change.date|date:"d M Y" as date and change.revision as rev and change.user as user %}
                <a href="/changes/view/{{ url_rev }}">
                    {{ date }} change {{ rev }} made by {{ user }}
                </a>
                {% endblocktrans %}
            {% endif %}
        
            </div>
            
            <div>
                {% trans "Summary" %}: {{ change.summary }}
            </div>
        </div>

    {% endfor %}
    <br/>
    {% paginate %}

{% endblock %}


