{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block info %}
    {% trans "Change" %}: {{ change.revision }} -
    {% trans "Parents" %}: 
    {% for parent in  change.parents %}
        {% if proposal %}
            <a href="/changes/from/{{ proposal.title|urlencode }}/view/{{ parent|urlencode }}">
                {{ parent }}
            </a>
        {% else %}
            <a href="/changes/view/{{ parent|urlencode }}">{{ parent }}</a>
        {% endif %}
    {% endfor %}<br/>
    {% trans "Date" %}: {{ change.date|date:"d M Y" }} - 
    {% trans "Author" %}: {{ change.user }} <br/>
    {% trans "Summary" %}: {{ change.summary }}

{% endblock %}

{% block content %}

    <div class="bg-content ui-corner-all">
        <div id="content">
        {% for diff in change.diffs %}

            {% if diff.added %}
                {% trans "Added" %}:<br/>
                <ul>
                {% for article in diff.added %}
                    {% if proposal %}
                        <li class="ic-article-add"><a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ change.revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                    {% else %}
                        <li class="ic-article-add"><a href="/articles/at/{{ change.revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}

            {% if diff.modified %}
                {% trans "Modified" %}:<br/>
                <ul>
                {% for article in diff.modified %}
                    {% if proposal %}
                        <li class="ic-article-edit"><a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ change.revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                    {% else %}
                        <li class="ic-article-edit"><a href="/articles/at/{{ change.revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}

            {% if diff.removed %}
                {% trans "Removed" %}:<br/>
                <ul>
                {% for article in diff.removed %}
                    <li class="ic-article-del"> {{ article }} </li>
                {% endfor %}
                </ul>
            {% endif %}

            <div class="pre"> {{ diff.html_diff|safe }} </div>
            <br/>
        {% endfor %}
        </div>
    </div>

{% endblock %}
