{% extends "base.html" %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block content %}
    
    <div id="content" class="bg-content ui-corner-all">
        <h1>Edit your account</h1>

        {% if msg %}
            <h2>{{ msg }}</h2>
        {% else %}
            <h2>Enter your details</h2>
        {% endif %}

        <form action="{{ action }}" method="post">
            <div class="field-wrapper">
                <label>Username </label>
                <span>{{ user.username }}</span>
            </div>
            {% for field in form %}
                <div class="field-wrapper{% if field.errors %} errors{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Save"></input></p>
        </form>
    </div>
{% endblock %}
