{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}
{% load tags %}

{% if proposal %}
    <li class="{% active request ".*proposals/view.*" %} ui-corner-top bg-gloss bg-proposal">
        <a href="/proposals/view/{{ proposal.title|urlencode }}">
            {% trans "Proposal" %}
        </a>
    </li>
    {% if not article %}
        <li class="{% active request ".*articles/from.*list" %} ui-corner-top bg-gloss bg-proposal">
            <a href="/articles/from/{{ proposal.title|urlencode }}/list">
                {% trans "Articles" %}
            </a>
        </li>
    {% endif %}
    {% if article %}
        <li class="{% active request ".*articles/from.*view/.*" %} ui-corner-top bg-gloss bg-proposal">
            <a href="/articles/from/{{ proposal.title|urlencode }}{% url_rev request %}/view/{{ article.title|urlencode }}">
                {% trans "Article" %}
            </a>
        </li>
        <li class="{% active request ".*changes/.*from.*list/for/.*" %} ui-corner-top bg-gloss bg-proposal">
            <a href="/changes/from/{{ proposal.title|urlencode }}/list/for/{{ article.title|urlencode }}">
                {% trans "History" %}
            </a>
        </li>
    {% else %}
        <li class="{% active request ".*changes/.*from.*list" %} ui-corner-top bg-gloss bg-proposal">
            <a href="/changes/from/{{ proposal.title|urlencode }}/list">
                {% trans "History" %}
            </a>
        </li>
    {% endif %}
{% else %}
    {% if article %}
        <li class="{% active request ".*articles/.*view.*" %} ui-corner-top bg-gloss bg-trunk">
            <a href="/articles{% url_rev request %}/view/{{ article.title|urlencode }}">
                {% trans "Article" %}
            </a>
        </li>
        <li class="{% active request ".*changes/list/for/.*" %} ui-corner-top bg-gloss bg-trunk">
            <a href="/changes/list/for/{{ article.title|urlencode }}">
                {% trans "History" %}
            </a>
        </li>
    {% endif %}
{% endif %}
