{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block info %}
    {% trans "Create a new proposal." %} 
{% endblock %}

{% block content %}

    <div class="element_content">
        <form method="POST" action="/proposals/create">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}: {{ field.errors }} <br/>
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="{% trans "Save" %}"/>
        </form>
    </div>

{% endblock %}
