{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}
{% load tags %}
{% load pagination_tags %}

{% block info %}
    {% trans "Proposals" %}
{% endblock %}

{% block actions %}
    <li class="bg-button ui-corner-all bg-gloss">
        <a href="/proposals/create">{% trans "Create Proposal" %}</a>
    </li>
{% endblock %}

{% block content %}
    {% autopaginate proposals 10 %}
    {% for proposal in proposals %}
 
        <div class="list-elem bg-main ui-corner-all">
            <div class="bg-proposal bg-gloss ui-corner-all">
                {% ifequal proposal.state State.EDITING%}
                    <img src="/static_media/icons/proposal_editing.png"/>
                {% endifequal %}
                {% ifequal proposal.state State.REVIEW %}
                    <img src="/static_media/icons/proposal_review.png"/>
                {% endifequal %}
                {% ifequal proposal.state State.VOTING %}
                    <img src="/static_media/icons/proposal_voting.png"/>
                {% endifequal %}
                {% ifequal proposal.state State.ACCEPTED %}
                    <img src="/static_media/icons/proposal_accepted.png"/>
                {% endifequal %}
                {% ifequal proposal.state State.ARCHIVED %}
                    <img src="/static_media/icons/proposal_archived.png"/>
                {% endifequal %}
                <a href="/proposals/view/{{ proposal.title|urlencode }}">
                    {{ proposal.title }}
                </a>
            </div>
            <div>
                {% trans "State" %}: {{ proposal.state_name }}
            </div>
        </div>
        
    {% endfor %}
    <br/>
    {% paginate %}
{% endblock %}

