{% extends 'base.html' %}
{% comment %} 

Copyright (C) 2009 Fabian Barkhau <fabian.barkhau@gmail.com>
Copyright (C) 2009 Manuel Barkhau <mbarkhau@gmail.com>
Copyright (C) 2009 Christian Hahn <ch@radamanthys.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

{% endcomment %}

{% load i18n %}

{% block info %}
    {% trans "Proposal" %}: <b>{{ proposal.title }}</b><br/>
    {% trans "State" %}: <b>{{ proposal.state_name }}</b>

    {% ifequal proposal.state State.REVIEW %}
        {% if proposal.state_time_end %}
            - {% trans "Time Remaining" %}: {{ proposal.state_time_end|timeuntil }}
        {% endif %}
    {% endifequal %}

    {% ifequal proposal.state State.VOTING %}
        - {% trans "Participated" %}: {{ proposal.participation }}% 
        {% if proposal.state_time_end %}
            - {% trans "Time Remaining" %}: {{ proposal.state_time_end|timeuntil }}
        {% endif %}
    {% endifequal %}
   
    {% ifequal proposal.state State.ACCEPTED %}
        - {% trans "Participated" %}: {{ proposal.participation }}% 
        {% if proposal.approval %}
            - {% trans "Approval" %}: {{ proposal.approval }}%
        {% endif %}
        - {% trans "Accepted" %}: {{ proposal.accepted|date:"d M Y" }}
    {% endifequal %}
{% endblock %}

{% block actions %}
    {% ifequal proposal.state State.EDITING %}
    {% if user.is_authenticated and not proposal.is_empty and proposal.head_revision %}
        <li class="ui-corner-all bg-gloss bg-button">
            <a href="/proposals/submit/{{ proposal.title|urlencode }}">
                {% trans "Submit" %}
            </a>
        </li>
    {% endif %}
    {% if user.is_authenticated %}
        <li class="ui-corner-all bg-gloss bg-button">
            <a href="/proposals/archive/{{ proposal.title|urlencode }}">
                {% trans "Archive" %}
            </a>
        </li>
    {% endif %}
    {% endifequal %}

    {% ifequal proposal.state State.ARCHIVED %}
    {% if user.is_authenticated %}
        <li class="ui-corner-all bg-gloss bg-button">
            <a href="/proposals/revive/{{ proposal.title|urlencode }}">
                {% trans "Revive" %}
            </a>
        </li>
    {% endif %}
    {% endifequal %}

    {% ifequal proposal.state State.VOTING %}
        {% if can_vote %}
            <li class="bg-accept ui-corner-all bg-gloss">
                <a href="/proposals/accept/{{ proposal.title|urlencode }}">
                    {% trans "Accept" %}
                </a> 
            </li>
            <li class="bg-reject ui-corner-all bg-gloss">
                <a href="/proposals/reject/{{ proposal.title|urlencode }}">
                    {% trans "Reject" %}
                </a>
            </li>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block error %}
    {% ifequal proposal.state State.EDITING %}
    {% if user.is_authenticated and not proposal.is_empty and not proposal.head_revision %}
        <div class="error ui-state-error ui-corner-all">
            {% blocktrans %}
                This proposal has multiple head revisions! Article
                conflicts must first be resolved bofore further
                editing can take place.
            {% endblocktrans %}
        </div>
    {% endif %}
    {% endifequal %}
{% endblock %}


{% block content %}

    <div class="bg-content ui-corner-all">
        <div id="content">

        {% if proposal.conflicts %}

            {% trans "Conflicting Articles" %}: <br/>
            <ul>
            {% for conflict in proposal.conflicts %}
                <li><a href="/articles/from/{{ proposal.title|urlencode }}/merge/{{ conflict|urlencode }}">{{ conflict }}</a></li>
            {% endfor %}
            </ul>

        {% else %}
            {% if not proposal.is_empty %}
            {% for diff in proposal.diffs %}
                <b>{% trans "Difference between Proposal and Trunk." %}<br/></b><br/>

                {% if diff.added %}
                    {% trans "Added" %}:<br/>
                    <ul>
                    {% for article in diff.added %}
                        {% if proposal.head_revision %}
                            <li class="ic-article-add"><a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                        {% else %}
                            <li class="ic-article-add"> {{ article }} </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if diff.modified %}
                    {% trans "Modified" %}:<br/>
                    <ul>
                    {% for article in diff.modified %}
                        {% if proposal.head_revision %}
                            <li class="ic-article-edit"><a href="/articles/from/{{ proposal.title|urlencode }}/at/{{ proposal.head_revision|urlencode }}/view/{{ article|urlencode }}">{{ article }}</a></li>
                        {% else %}
                            <li class="ic-article-edit"> {{ article }} </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if diff.removed %}
                    {% trans "Removed" %}:<br/>
                    <ul>
                    {% for article in diff.removed %}
                        <li class="ic-article-del"> {{ article }} </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                
                <div class="pre"> {{ diff.html_diff|safe }} </div>
                <br/>
            {% endfor %}
            {% else %}
                {% trans "No changes made."%}
            {% endif %}
        {% endif %}

        </div>
    </div>

{% endblock %}
