{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <form id="openid_form" action="{{ action }}" method="post"  style="margin: 0.5em 0 0;">
        <fieldset>
            <label for="id_openid_identifier">
                {% blocktrans %}
                    If you'd like to register, or if you've already
                    registered, enter your OpenID
                {% endblocktrans %}
            </label>
            <br/>
            <br/>
            {{ form.openid_identifier }}
            <input name="bsignin" type="submit" value="Sign in">

            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
        </fieldset>
    </form>	
    <div id="openid_shortcuts">
        {% blocktrans %}
            Alternately, click your account provider:
        {% endblocktrans %}
        <br/>
        <br/>
        <a id="openid" class="openid" style="background: url(/static_media/openid/openid.png) no-repeat center center;"></a>
        <a id="google" class="openid" style="background: url(/static_media/openid/google.png) no-repeat center center;"/></a>
        <a id="yahoo"  class="openid" style="background: url(/static_media/openid/yahoo.png) no-repeat center center;"/></a>
        <a id="aol"    class="openid" style="background: url(/static_media/openid/aol.png) no-repeat center center;"/></a>

        <div class="clearer"></div>
        <br/>
        <br/>
        <img id="myopenid"      class="s_openid" src="/static_media/openid/myopenid.png" title="MyOPenID"/>
        <img id="livejournal"   class="s_openid" src="/static_media/openid/livejournal.png" title="LiveJournal"/>
        <img id="flickr"        class="s_openid" src="/static_media/openid/flickr.png" title="Flickr"/>
        <img id="technorati"    class="s_openid" src="/static_media/openid/technorati.png" title="Technorati"/>
        <img id="wordpress"     class="s_openid" src="/static_media/openid/wordpress.png" title="WordPress"/>
        <img id="blogger"       class="s_openid" src="/static_media/openid/blogger.png" title="Blogger"/>
        <img id="verisign"      class="s_openid" src="/static_media/openid/verisign.png" title="Verisign"/>
        <img id="vidoop"        class="s_openid" src="/static_media/openid/vidoop.png" title="Vidoop"/>
        <img id="claimid"       class="s_openid" src="/static_media/openid/claimid.png" title="Claimid"/>

        <div id="openid_userid">
            <label id="openid_label">{% trans "enter your openid" %}</label><br/>
            <input id="openid_user" type="text" size="40" maxlength="255" name="openis_user"/>
            <button id="openid_signin"> {% trans "Sign in" %} </button>
        </div>

    </div>

    <div class="info_box">
        {% blocktrans %}
            <p><b>Info OpenID</b><br/>
            OpenID eliminates the need for multiple usernames across different
            websites, simplifying your online experience.
            </p>
            <p>You get to choose the OpenID Provider that best meets your
            needs and most importantly that you trust. At the same time,
            your OpenID can stay with you, no matter which Provider you
            move to. And best of all, the OpenID technology is not
            proprietary and is completely free.
            </p>

            <p>You can use OpenIDs from any provider. If you don't have
            already an OpenID you can find a provider in this 
            <a href="http://openid.net/get/">provider list</a>.</p>

            <p>To create an OpenID for a test user, you can use this 
            <a href="https://openid.radamanthys.de/">site</a>, but this OpenID
            not reliable for general use.
            </p>
        {% endblocktrans %}
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static_media/candiwi_openid.js"></script>
{% endblock %}
