{% extends "base.html" %}
{% load i18n %}

{% block title %}Register an account{% endblock %}


{% block content %}
    <h1>Register an account</h1>

    <h2>Enter your details</h2>
    <form action="{{ action }}" method="post">
        {% with form.username as field %}
            {% include "django_openid/_register_form_field.html" %}
        {% endwith %}
        {% with form.first_name as field %}
            {% include "django_openid/_register_form_field.html" %}
        {% endwith %}
        {% with form.last_name as field %}
            {% include "django_openid/_register_form_field.html" %}
        {% endwith %}
        {% with form.email as field %}
            {% include "django_openid/_register_form_field.html" %}
        {% endwith %}
        <div class="field-wrapper">
            <label for="id_voting" title="{% blocktrans %}Email me when a proposal enters into the voting period.{% endblocktrans %}">
            {% trans "Voting Mail" %}</label>
            <input id="id_voting" type="checkbox" name="voting_mail" checked="checked"></input>
        </div>
        <p><input type="submit" value="Register"></input></p>
    </form>
    <p>Your OpenID <strong>{{ openid }}</strong> will be associated with this account.</p>

{% endblock %}
